colorama==0.4.1
Keras==2.2.5
matplotlib==3.0.3
numpy==1.16.5
pip-tools==3.9.0
tensorflow==2.5.0
tensorflow-estimator==1.15.1
tensorflow-hub==0.6.0
tensorflow-metadata==0.14.0
tensorflow-probability==0.7.0
urllib3==1.24.3
